<!doctype html>
<html>
<head>
<meta charset="utf-8">
	<meta name="description" content="WeGame游戏商店，致力于发现全球好游戏，提供游戏资讯、购买、下载、助手、直播和社区等一站式游戏服务，满足优质汉化、社交互动、稳定国服等更贴心的本地化需求，同时连接全球开发者与游戏玩家，构筑玩家与开发者的沟通桥梁。">
	<meta name="keywords" content="WeGame,游戏商店,WeGame平台,游戏发行,游戏平台,游戏评测,单机游戏,游戏购买,游戏下载,腾讯游戏平台,游戏助手,游戏加速,LOL助手,LOL官方盒子,CF助手,DNF助手,免费网络加速">
	
	<link href="homepagecss/common.css" rel="stylesheet" type="text/css">
	<link href="homepagecss/g-top.css" rel="stylesheet" type="text/css">
	<link href="fonticon/iconfont.js" type="text/javascript">
	<link href="fonticon/iconfont.css" rel="stylesheet" type="text/css">
	<link href="homepagecss/g-head.css" rel="stylesheet" type="text/css">
	<link href="homepagecss/g-ad.css" rel="stylesheet" type="text/css">
	<link href="homepagecss/g-bd.css" rel="stylesheet" type="text/css">
	<link href="homepagecss/g-ft.css" rel="stylesheet" type="text/css">
	<script type="text/javascript" src="js/jquery-3.1.1.js"></script>
    <script type="text/javascript" src="js/jquery.tmpl.js"></script>
    
<title>WeGame游戏商店 - 发现更大的游戏世界</title>
	
	<style type="text/css">
		
	</style>
	
</head>

<body>
<!--	top开始-->
	<div class="g-top clearbox">
		<div class="g-top-left-logo fl">
			<a href="#">
				<img src="images/wegame-logo-40.776e17ff.png" alt="">
			</a>
		</div>
		<ul class="g-top-middle-nav fl">
			<li><a href="#">商店</a></li>
			<li><a href="#">客户端</a></li>
			<li><a href="#">移动端</a></li>
			<li><a href="#">翼计划</a></li>
			<li><a href="#">帮助反馈</a></li>
		</ul>
		<ul class="g-top-right-nav fr">
			<li><a href="#">开发者平台</a></li>
			<li><a href="#">下载客户端</a></li>
			<li class="m-login"><a href="登陆.html">登录</a></li>
		</ul>
	</div>
	<div class="g-login-pane">
		<p id="m-login"><a href="login.html">登陆</a></p>
	</div>
	


<!--	top结束-->
	
<!--	head开始-->
	<div class="g-head clearbox">
		<div class="g-head-left fl">
			<ul>
				<li>
					<a href="#">精选</a>
					<span></span>
				</li>
				<li>
					<a href="#">所有内容</a>
					<span class="iconfont icon-yuandianxiao"></span>
					<span class="iconfont icon-jiantou9"></span>
					<ul>
						<li>
							<a href="#">测试区</a>
							<span class="iconfont icon-yuandianxiao"></span>
						</li>
						<li><a href="#">排行榜</a></li>
						<li><a href="#">娱乐应用</a></li>
						<li><a href="#">更多内容</a></li>
					</ul>
				</li>
			</ul>
		</div>
		<div class="g-head-right fr">
			<ul>
				<li>
					<a href="#">大型网游</a>
					<span class="iconfont icon-vertical_line"></span>
				</li>
				<li>
					<a href="#">单机</a>
					<span class="iconfont icon-vertical_line"></span>
				</li>
				<li><a href="#">三国武将养成</a></li>
			</ul>
			
			<input type="text" placeholder="龙之谷">
			<a href="#" class="iconfont icon-sousu"></a>
		</div>
		<div class="g-head-bottom"></div>
	</div>
<!--	head结束-->
<!--	ad广告开始-->
	<div class="g-ad">
		<a href="#">
			<img src="images/15893675803882.jpeg" width="100%" alt="">
			
		</a>
		<a href="#">
			<span class="iconfont icon-iconfonticontrianglecopy"></span>
		</a>
	</div>
<!--	ad结束-->
<!--	bd主体开始-->
	<div class="g-bd clearbox">
<!--		swiper轮播图开始-->
		<div class="m-swiper clearbox">
			 <ul class="m-swiper-swiperItem fl">
			 	<li><a href="#"><img src="images/15895384313882.jpeg" width="790"  alt=""></a></li>
			 	<li><a href="#"><img src="images/15893673843882.jpeg" width="790"  alt=""></a></li>
			 	<li><a href="#"><img src="images/15895364653882.jpeg" width="790"  alt=""></a></li>
			 	<li><a href="#"><img src="images/15895369553882.jpeg" width="790"  alt=""></a></li>
			 	
				<li><a href="#"><img src="images/15895368373882.jpeg" width="790"  alt=""></a></li>
				<li><a href="#"><img src="images/15892734163882.jpeg" width="790"  alt=""></a></li>
				 <li><a href="#"><img src="images/15895331914167.jpeg" width="790"  alt=""></a></li>
			
			 </ul>
			 <ul class="m-swiper-splot fr">
			 	<li class="current">梦三国2<p class="hd">培养属于你的三国武将</p></li>
			    <li>疾风之刃<p>领取你的骑士团奖励</p></li>
			 	<li>古剑奇谭网络版<p>萤火祭换新衣！</p></li>
			 	<li>龙之谷<p>福利任务奖励暴击</p></li>
			 	<li>最终幻想14<p>FF系列的彩蛋你都找到了</p></li>
				<li>掌上WeGame<p>送CF永久</p></li>
				<li>三国杀<p>登陆免费领取祈福灯</p></li>
			 </ul>
		</div>
<!--		swiper轮播图结束-->
<!--		content开始-->
<!--		热点预告-->
		<div class="m-content clearbox">
			<div class="m-tt">
				<h2>热点预告</h2>
			</div>
			<div class="m-sd clearbox">
				<ul class="m-ssd fl" id="m-ssd">
				</ul>
				<script type="text/x-jquery-tmpl" id="dateinfo">
					<li>
						<p>${month}
							<span class="iconfont icon-yuandianxiao"></span>
						</p>
						<p>
							${descp}
						</p>
						
					</li> 
				</script>
			</div>
			
			<div class="m-list fl">
				<ul class="m-sld" id="m-sld">
										
				</ul>
				<script type="text/x-jquery-tmpl" id="msginfo">
					<li>
						<a href="#">
							<img src=${gameImg}>
						</a>
						<div class="hdmsg">
							<p>${title}</p>
							<p>${descp}</p>
							<span>关注</span>
							<span>游戏详情</span>
						</div>
					</li>
				</script>
				<div class="m-lf-btn"><span class="iconfont icon-arrow-left"></span></div>
				<div class="m-rl-btn"><span class="iconfont icon-iconfontjiantou5"></span></div>
			</div>
<!--			排行榜-->
			<div class="m-tt clearbox">
				<h2 class="fl">排行榜</h2>
				<span class="fr">更多榜单</span>
			</div>
			
			<div class="m-lst clearbox">
				<ul class="m-top fl " id="m-slt">
					
		       </ul>
			</div>
			
			<script type="text/x-jquery-tmpl" id="rankinfo">
				<li>
						<h2>${title}
						<span class="${icon}"></span>
						</h2>
						
						<ul class="m-stop">
						{{each listrank}}
							<li>
							{{if typeInt==1}}
								<span class="${icon}"></span>
								{{else}}
								<span>${num}</span>	
								{{/if}}
								<a href="details.html?id=${id}">
									<img src="${smallImg}" width="92" height="54" alt="">
								</a>
								<p>${title}
								  {{if arrowtype>0}}
								    <span class=${arrrowIcon}></span>	
								  {{/if}}
								</p>
								<p>${pay}</p>
							</li>
							
							{{/each}}
						</ul>
					</li>
			</script>
			
<!--			测试专区-->
			<div class="m-tt clearbox">
				<h2 class="fl">测试专区</h2>
			</div>
			<div class="m-news clearbox">
				<h2 class="fl">最新玩法，抢先体验</h2>
				<p class="fl">专区内的游戏均为测试版本，无任何商业化，我们每天会限量发放体验资格，期待您的参与，相信有潜力的游戏会给您更多惊喜！</p>
				<a href="#" class="fr clearbox">进入专区</a>
				<div class="m-news-left fl clearbox">
					<a href="#" class="fl">
						<img src="images/fb4410863b11b4f51007117e656b204f.jpg" alt="">
					</a>
					<div class="introduce fr">
						<h3 class="fl">节奏快打</h3>
						<p class="fl">期待度 95% (127条评测)</p>
						<p class="fl">类Rogue / 音乐游戏 / 独立游戏 / 闯关</p>
						<p class="fl">
							<span class="iconfont icon-baojiaquotation2"></span>
							各位DJ，我们刚刚（在狄哥的鞭笞之下）进行了Demo的版本更新~让您抖得开心，抖得舒心。更新内容包括： · 修复了小概率启动黑屏的问题；
							<span class="iconfont icon-baojiaquotation"></span>
							<span class="iconfont icon-yanjing_huaban1 fl">1295</span>
							<span class="fr">来自开发者</span>
						</p>
						<p>抢号进行中</p>
					</div>
				</div>
				<div class="m-news-right fr">
					<ul>
						<li>
							<a href="#"><img src="images/ef82249e7040e4e269b2b64d4255363e.jpg" alt=""></a>
							<h3>星际角斗场</h3>
							<p>期待度 97% (135条评测)</p>
							<p>科幻 / 冷兵器 / 角色扮演 / 独立游戏 / 动作过关</p>
							<p>抢号进行中</p>
						</li>
						<li>
							<a href="#"><img src="images/ef402c10f988e1bb50af9be5d0f33fb6.jpg" alt=""></a>
							<h3>激战2</h3>
							<p>期待度 --</p>
							<p>开放世界 / MMORPG / 爽快手感 / 唯美画面 / 剧情丰富</p>
							<p>今日已抢完，明日11:00开始抢号</p>
						</li>
					</ul>
				</div>
			</div>
<!--			最近更新-->
			<div class="m-tt clearbox">
				<h2 class="fl">最近更新</h2>
			</div>
			
			<div class="m-snews clearbox">
				<ul id="info"></ul>
			</div>
			<script type="text/x-jquery-tmpl" id="updateinfo">
				<li>
						<a href="#"><img src="${bigimg}" alt=""></a>
						<a href="#" class="fl"><img src="${smallimg}" alt=""></a>
						<p class="fl">${title}</p>
						<p class="fr">查看游戏<span class="iconfont icon-iconfontjiantou5"></span></p>
						<p class="fl">${category}</p>
						
						<h3 class="fl">${info}</h3>
						<p class="fl">	${descp}
						</p>
						<span class="iconfont icon-yanjing_huaban1 fl">${num}</span>
						<span class="fr">${infodate}</span>
				</li>
			</script>
<!--			君荐游戏-->
			<div class="m-tt clearbox">
				<h2 class="fl">蛋蛋君荐游戏</h2>
			</div>
			<div class="m-hot clearbox">
				<h2>活着真好！悲欢交集的生存游戏</h2>
				<p>未晓生，不知死。无论何时何地，生存都是艰难的，真实的生活不允许我们去挑战平淡，但虚拟的游戏却可以体验死亡。在充满威胁的异世界中，孤身一人从容面对自然的威胁，度过每一天.</p>
				<p>查看专题<span class="iconfont icon-youjiantou"></span></p>
				<p><span class="iconfont icon-youxiguanli"></span>本期游戏推荐<span>共4款</span></p>
				<ul>
					<li>
						<a href="#"><img src="images/180 (6).jpg" alt=""></a>
					</li>
					<li>
						<a href="#"><img src="images/180 (3).jpg" alt=""></a>
					</li>
					<li>
						<a href="#"><img src="images/180 (4).jpg" alt=""></a>
					</li>
				</ul>
			</div>
		</div>
<!--		content结束-->
	</div>
<!--	bd结束-->
<!--	sd侧栏开始-->
	<div class="g-sd clearbox">
		
	</div>
<!--	sd结束-->
<!--	ft底部-->
	<div class="g-ft clearbox">
		<div class="m-dl clearbox">
			<ul class="fl">
				<li>
					<p>下载客户端：</p>
					<div><span  class="iconfont icon-windows"></span></div>
					<p>pc端</p>
				</li>
				<li>
					<p>官方渠道：</p>
					<div><span  class="iconfont icon-tubiaozhizuo-"></span></div>
					
					<div><span  class="iconfont icon-weixin"></span><span class="u-qr"></span></div>
					<p>微博</p>
					<p>微信</p>
					
				</li>
				<li>
					<p>友情链接：</p>
					<p><span>QQ阅读</span><span>腾讯GWB</span></p>
					<p><span>腾讯动漫</span><span>腾讯视频</span></p>
				</li>
			</ul>
		</div>
		<div class="m-cprt clearbox">
			<p>关于腾讯 | About Tencent | 服务条款 | 用户服务协议 | 隐私政策 | 侵权通知 | 广告服务 | 腾讯招聘 | 客服中心 | 网站导航</p>
			<p>COPYRIGHT © 1998 – 2020 TENCENT. ALL RIGHTS RESERVED.</p>
			<p>腾讯公司 版权所有</p>
		</div>
	</div>
</body>
	<!--<script src="js/jquery-1.12.4.min.js"></script>-->
<!--	<script src="jquery-1.8.3.min.js"></script>-->

	  <script type="text/javascript" src="js/isLogin.js"></script>
	  <script src="js/index.js"></script>
	<script type="text/javascript">

$(function(){
	$.ajax({
		type:"get",
		url:"http://localhost:8080/web141/default?action=listimg",
		dataType:"json",
		success:function(res){
//			console.log(res)
     $("#msginfo").tmpl(res).appendTo("#m-sld")
		}
	})
		
	$.ajax({
		type:"get",
		url:"http://localhost:8080/web141/default?action=listrank",
		dataType:"json",
		success:function(res){
			console.log(res)
        $("#rankinfo").tmpl(res).appendTo("#m-slt")
		}
	})
	
	$.ajax({
		type:"get",
		url:"http://localhost:8080/web141/Update",
		dataType:"jsonp",
		success:function(res){
//			console.log(res)
        $("#updateinfo").tmpl(res).appendTo("#info")
		}
	})
		
	
})

$(function(){
	var mydate=new Date();
	var mon=mydate.getMonth()+1;
	mon=mon+"月";
//	console.log(mon);
	var monthDate=[
	{month:mon,descp:"5月9日"},
	{month:mon,descp:""},
	{month:mon,descp:"立即加入"},
	{month:mon,descp:"江湖作伴"},
	{month:mon,descp:""},
	{month:mon,descp:""},
	{month:mon,descp:""},
	{month:mon,descp:"江湖作伴"},
	{month:mon,descp:"立即加入"},
	{month:mon,descp:""},
	]
	$("#dateinfo").tmpl(monthDate).appendTo("#m-ssd")
})
		
	
		
	</script>
</html>
